.search{
    position: relative;
    height: 30px;
}
.searchbar{
    width: 400px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid gray;
    padding: 0 10px;
}
.searchbtn{
    position: absolute;
    right: 0;
    top: 20%;
    border: none;
    background: transparent;
}
