.search{
    position: relative;
    height: 30px;
    
}
.searchbar{
    width: 600px;
    height: 40px;
    border: 1px solid gray;
    padding: 0 10px;
    font-size: 1.3rem;
}
.searchbtn{
    position: absolute;
    right: 0;
    top: 20%;
    border: none;
    background: transparent;
    font-size: 1.2rem;
}


/* Responsive design --------------------------------------------------------------------------------------->*/



@media (width<800px) {
    .searchbar{
        width: 100%;
        height: 30px;
        font-size: 1.1rem;

    }
    .search{
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .searchbtn{
        font-size: 1.1rem;
    }
    
}